:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --slate: #434455;
  --ocean: #404bbf;
  --white: #ffffff;
  --cornflower: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--slate);
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.page-header {
  border-bottom: 1px solid var(--cornflower);
}

.page-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  max-width: 885px;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logotype-text {
  display: flex;
  align-items: center;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logotype-text-header-suffix {
  color: var(--navyblue);
}

.logotype-text-footer-suffix {
  color: var(--cloud);
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean);
}

.address-list {
  align-items: center;

  gap: 40px;
}

.address-text {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
  font-style: normal;
}

.address-link {
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate);
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

.accent-background {
  background-color: var(--navyblue);
}

.light-background {
  background-color: var(--cloud);
}

.card-backgound {
  background-color: var(--white);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  color: var(--white);
}

.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  color: var(--white);
}

.order-button:hover,
.order-button:focus {
  background-color: var(--ocean);
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  color: var(--iris);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--ocean);
  color: var(--white);
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.card-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.main-text {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: var(--navyblue);
}

.footer-wrapper {
  padding: 100px 0;
}

.logotype-footer-text {
  display: inline-block;
  align-items: center;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-text {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--cloud);
}
